XML/Loottable.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT loottable (loot+)>
<!ELEMENT loot (item+)>
<!ATTLIST loot page CDATA #REQUIRED>
<!ELEMENT item (itemname,itemamount,itemdescription*,itemvalue)>
<!ATTLIST item name CDATA #REQUIRED>
<!ELEMENT itemname (#PCDATA)>
<!ELEMENT itemamount (#PCDATA)>
<!ELEMENT itemdescription (#PCDATA)>
<!ELEMENT itemvalue (#PCDATA)>